.toggleButton {
  padding: 7px 10px;
  // color: #fff;

  .MuiToggleButtonGroup-grouped {
    border: 0;

    border-radius: 50px;
    // margin: 0 10px;
    // color: #fff;
    text-transform: none;

    &.MuiToggleButtonGroup-middleButton {
      margin: 0 10px;
    }

    &.MuiToggleButtonGroup-firstButton,
    &.MuiToggleButtonGroup-middleButton {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }

    &.MuiToggleButtonGroup-middleButton,
    &.MuiToggleButtonGroup-lastButton {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }

    &:hover {
      background-color: transparent;
    }

    // &.Mui-selected {
    //     color: #fff;
    //     background-color: #192142;

    //     &:hover {
    //         background-color: #192142;
    //     }
    // }
  }
}
