.logoWrapper {
  margin: 10px 0 30px 16px;
  display: flex;

  .logo {
    width: 160px;
    flex: 1;
  }

  button {
    margin: 0;
  }
}

.mobileHeader {
  &.MuiAppBar-root {
    display: flex;
    background-color: #4b5563;
    flex-direction: row;
    padding: 0px 16px;
    align-items: center;

    .logo {
      margin: 0;
      height: 30px;
    }
  }
}

.showDesktop {
  display: block;

  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.appHeader {
  display: flex;
}

// .menuIcon{
//     &.MuiButtonBase-root {
//         display: none;
//         @media screen and (max-width : 767px) {
//             display: inline;
//         }
//     }
// }

.menu {
  color: #fff;
  padding: 2px;
  text-decoration: none;
  padding: 0 10px;
  font-size: 14px;
  
}

.activeMenu {
  color: #192142;
  background-color: #ffffff;
  border-radius: 10px;
}

.divider {
  background-color: #fff;
}

.closeDrawer {
  &.MuiButtonBase-root {
    position: absolute;
    right: 6px;
    top: 6px;
    margin: 0;
    padding: 0;
  }
}
