.logo {
    height: 36px;
    margin: 5px 0;
}

.appHeader {
    display: flex;

    &.css-ptdwpq-MuiPaper-root-MuiAppBar-root {
        background-color: #4B5563;
        display: flex;
        flex-direction: row;
        padding: 0 20px;
    }
}

.menu {
    color: #fff;
    padding: 2px;
    text-decoration: none;
    padding: 0 10px;
    font-size: 14px;
}

.activeMenu {
    color: #3f9af4;
}

.divider {
    background-color: #fff;
}

.closeDrawer {
    &.MuiButtonBase-root {
        position: absolute;
        right: 6px;
        top: 6px;
        margin: 0;
    }
}